[submodule "ostfriesentee"]
	path = ostfriesentee
	url = git@github.com:RWTH-OS/ostfriesentee.git
[submodule "ext/RIOT"]
	path = ext/RIOT
	url = git@github.com:RIOT-OS/RIOT.git
[submodule "ext/xpcc"]
	path = ext/xpcc
	url = git@github.com:roboterclubaachen/xpcc.git
